<!DOCTYPE html>
<html ng-app="FeedMe">
  <head>
    <meta charset="utf-8">
    <title>Feedme</title>
    <link rel="stylesheet" href="/assets/styles/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/styles.css" media="screen" title="no title" charset="utf-8">
    
  </head>
  <body>
    <h1>Feedme</h1>
    <div ng-view></div>
  </body>


  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-1.9.1.min.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/angular.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/angular-route.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/angular-resource.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/bootstrap.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/2.5.3-crypto-md5.js" charset="utf-8"></script>
  <script src="assets/javascript/vendor/ngGravatar.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/2389047974.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js" charset="utf-8"></script>
  <script src="assets/javascript/routes.js" charset="utf-8"></script>
  
  <!-- Directives -->

  <!-- Controllers -->
  <script src="assets/javascript/controllers/ItemController.js" charset="utf-8"></script>
  <script src="assets/javascript/controllers/EditItemController.js" charset="utf-8"></script>

  <!-- Filters -->

  <!-- Services -->
  <script src="assets/javascript/services/item.js" charset="utf-8"></script>
  <script src="assets/javascript/services/cat.js" charset="utf-8"></script>

</html>
